.WorkCrm{
	background-color: #d8d6d6;
	margin: 2px;
	color: #2b2b2b;
}

.WorkCrmMenu{
	background-color: #2b2b2b;
	color: black;
	border-radius: 5px;
	display: flex;
	justify-content: space-around;
	align-items: center;
	margin: 1px 5px;
}

.WorkCrmMenu .active{
	background-color: #ce9812;
	color: #2b2b2b;
}

.WorkCrmMenu a{
	text-decoration: none;
	background-color: #2b2b2b;
	color: #ce9812;
	font-weight: bold;
	margin: 2px 5px;
	border-radius: 5px;
}

a:hover{
	background-color: #2b2b2b;
	color: #918f8f;
}