.Button{
	display: flex;
	align-items: center;
	cursor: pointer;
}
.ButtonData{
	font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
	font-size: 16px;
	margin: 1px 5px;
	padding: 1px 2px;
	border: none;
	background-color: '#e3e3e3';
	border-bottom: 1px solid #8b8b8b;
	box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
}

.ButtonData .material-icons{
	font-size: 18px;
}

.ButtonData:focus{
	outline: none;
}

.ButtonData:hover{
	background-color: #d4d2d2;
	cursor: pointer;
}

.ButtonData:active{
	background-color: #d4d2d2;
	box-shadow: 0 2px 4px 0 rgba(0,0,0,0.2) !important;
}
