.Select{
	background-color: #e3e3e3;
	margin: 2px 5px;
	box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
}

.SelectLabel{
	font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
	font-size: 14px;
	color: #757575;
}

.SelectData{
	font-family: 'Roboto', 'Rubik', 'sans-serif';
	font-size: 16px;
	border: none;
	border-bottom: 1px solid #8b8b8b;
	background-color: #e3e3e3;
}

.InputData:focus{
	outline: none;
	border-bottom: 1px solid #000000;
}